# Ejercicios

### 1 Ejercicio

La hoja de cálculo [resumen_contable.xlsx](./datos/resumen_contable.xlsx) recoge los gastos e ingresos de distintas delegaciones de una empresa.
El siguiente código crea los dataFrames asociados a cada una de las delegaciones.

In [1]:
import pandas as pd
import numpy as np

In [18]:
from pandas import ExcelFile
import pandas as pd
resumen = pd.ExcelFile('./datos/resumen_contable.xlsx')
Valencia = resumen.parse(0,  skiprows=1 , index_col = [0])     # datos de la primera hoja
Sevilla = resumen.parse(1,  skiprows=1,index_col = [0]  )   
Galicia = resumen.parse(2,  skiprows=1, index_col = [0] )

Se pretende unificar todos los datos de forma que tengamos un resumen de gastos e ingresos anual de toda la empresa. Utiiza la función __add__.

In [19]:
# Sol:
# teniendo en cuenta que pandas realiza alineamiento de datos:

Valencia.head()

res= Valencia.add(Sevilla, fill_value=0).add(Galicia, fill_value=0)
res

       Gastos  Ingresos
Year
2000   5000.0   13000.0
2001   3000.0    5000.0
2002   5000.0    5000.0
2005   5654.0    9000.0
2006  12701.0    9000.0
2007   6200.0    7000.0
2008   7500.0    7000.0
2010   9000.0    2000.0

### 2 Ejercicio

El fichero [quakes.csv](./datos/quakes.csv) recoge los datos de observaciones de movimientos sísmicos de magnitud superior a 4 en la escala de Richter  en un sector de la ciudad de Fiji desde 1964. 

1. Mostrar todos los datos con un único decimal. Para ello aplica la función __applymap__ .

In [24]:
tabla_sismicos = pd.read_csv('./datos/quakes.csv', 
     names = ['Latitud', 'Longitud', 'Profundidad','Magnitud', 'Estaciones'], na_values = {'Longitud':'-'} )
tabla_sismicos.head()

   Latitud  Longitud  Profundidad  Magnitud  Estaciones
1   -20.42    181.62          562       4.8          41
2   -20.62    181.03          650       4.2          15
3   -26.00       NaN           42       5.4          43
4   -17.97    181.66          626       4.1          19
5   -20.42    181.96          649       4.0          11

Hay que poner los Na values para que funcione el apply map

In [25]:
# Sol: 
tabla_sismicos = tabla_sismicos.applymap(lambda x: '%.1f' % x)
tabla_sismicos.head()

  Latitud Longitud Profundidad Magnitud Estaciones
1   -20.4    181.6       562.0      4.8       41.0
2   -20.6    181.0       650.0      4.2       15.0
3   -26.0      nan        42.0      5.4       43.0
4   -18.0    181.7       626.0      4.1       19.0
5   -20.4    182.0       649.0      4.0       11.0

### 3 Ejercicio

El fichero [quakes.csv](./datos/quakes.csv) recoge los datos de observaciones de movimientos sísmicos de magnitud superior a 4 en la escala de Richter  en un sector de la ciudad de Fiji desde 1964. 

1. Crea un DataFrame con los datos del fichero como has hecho en PR3. En la creación del DataFrame utiliza la opción __na_values__ para  indicar que los valores '-' en la columna __Longitud__ se carguen como NaN.
2. Sustituye todos los valores NaN por 0.

In [27]:
# Sol:
data3= pd.read_csv('datos/quakes.csv', index_col=0,
                   names = ['Latitud', 'Longitud', 'Profundidad','Magnitud', 'Estaciones'],
                   na_values={'Longitud':'-'})

data3.head()

   Latitud  Longitud  Profundidad  Magnitud  Estaciones
1   -20.42    181.62          562       4.8          41
2   -20.62    181.03          650       4.2          15
3   -26.00       NaN           42       5.4          43
4   -17.97    181.66          626       4.1          19
5   -20.42    181.96          649       4.0          11

In [31]:
data3=data3.fillna(0)
data3.head()

   Latitud  Longitud  Profundidad  Magnitud  Estaciones
1   -20.42    181.62          562       4.8          41
2   -20.62    181.03          650       4.2          15
3   -26.00      0.00           42       5.4          43
4   -17.97    181.66          626       4.1          19
5   -20.42    181.96          649       4.0          11